
body {
  background: radial-gradient(circle, #24246e, #06051f);
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

div,
div::before,
div::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  transform-origin: top;
  transition: all 5s linear 0s;
}

.purple {
  animation: purple linear 30s alternate infinite;
  border: 2px solid #241379;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transform: translate3d(17vw, 71vh, 0);
  z-index: 10;
}

.purple::before {
  animation: purple-pseudo linear 15s alternate infinite;
  background: #241379;
  border: 2px solid #241379;
  width: 28px;
  height: 5px;
  transform: translate3d(-17vw, 99vh, 0) rotate(158deg);
}

.purple::after {
  animation: purple-pseudo linear 20s alternate infinite;
  border: 2px solid #241379;
  width: 44px;
  height: 20px;
  transform: translate3d(6vw, 99vh, 0) rotate(93deg);
}

@keyframes purple {
  50% {
    transform: translate3d(8vw, 1vh, 0);
  }
  100% {
    transform: translate3d(38vw, 93vh, 0);
  }
}

@keyframes purple-pseudo {
  33% {
    transform: translate3d(8vw, -43vh, 0) rotate(341deg);
  }
  100% {
    transform: translate3d(79vw, 51vh, 0) rotate(290deg);
  }
}
.medium-blue {
  animation: medium-blue linear 30s alternate infinite;
  border: 2px solid #2185bf;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  transform: translate3d(0vw, 78vh, 0);
  z-index: 7;
}

.medium-blue::before {
  animation: medium-blue-pseudo linear 15s alternate infinite;
  background: #2185bf;
  border: 2px solid #2185bf;
  width: 5px;
  height: 32px;
  transform: translate3d(-14vw, 42vh, 0) rotate(83deg);
}

.medium-blue::after {
  animation: medium-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #2185bf;
  width: 12px;
  height: 32px;
  transform: translate3d(34vw, 105vh, 0) rotate(81deg);
}

@keyframes medium-blue {
  50% {
    transform: translate3d(48vw, 4vh, 0);
  }
  100% {
    transform: translate3d(53vw, 76vh, 0);
  }
}

@keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(80vw, 2vh, 0) rotate(85deg);
  }
  100% {
    transform: translate3d(6vw, 53vh, 0) rotate(345deg);
  }
}
.light-blue {
  animation: light-blue linear 30s alternate infinite;
  border: 2px solid #1fbce1;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  transform: translate3d(16vw, 26vh, 0);
  z-index: 8;
}

.light-blue::before {
  animation: light-blue-pseudo linear 15s alternate infinite;
  background: #1fbce1;
  border: 2px solid #1fbce1;
  width: 14px;
  height: 14px;
  transform: translate3d(12vw, -8vh, 0) rotate(211deg);
}

.light-blue::after {
  animation: light-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #1fbce1;
  width: 12px;
  height: 24px;
  transform: translate3d(-30vw, 61vh, 0) rotate(285deg);
}

@keyframes light-blue {
  50% {
    transform: translate3d(39vw, 94vh, 0);
  }
  100% {
    transform: translate3d(84vw, 8vh, 0);
  }
}

@keyframes light-blue-pseudo {
  33% {
    transform: translate3d(-11vw, 112vh, 0) rotate(62deg);
  }
  100% {
    transform: translate3d(58vw, 7vh, 0) rotate(152deg);
  }
}
.red {
  animation: red linear 30s alternate infinite;
  border: 2px solid #b62f56;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  transform: translate3d(90vw, 24vh, 0);
  z-index: 1;
}

.red::before {
  animation: red-pseudo linear 15s alternate infinite;
  background: #b62f56;
  border: 2px solid #b62f56;
  width: 23px;
  height: 5px;
  transform: translate3d(83vw, 13vh, 0) rotate(141deg);
}

.red::after {
  animation: red-pseudo linear 20s alternate infinite;
  border: 2px solid #b62f56;
  width: 40px;
  height: 48px;
  transform: translate3d(119vw, 3vh, 0) rotate(58deg);
}

@keyframes red {
  50% {
    transform: translate3d(51vw, 82vh, 0);
  }
  100% {
    transform: translate3d(66vw, 58vh, 0);
  }
}

@keyframes red-pseudo {
  33% {
    transform: translate3d(69vw, 79vh, 0) rotate(354deg);
  }
  100% {
    transform: translate3d(100vw, 97vh, 0) rotate(169deg);
  }
}
.orange {
  animation: orange linear 30s alternate infinite;
  border: 2px solid #d5764c;
  border-radius: 100%;
  width: 43px;
  height: 43px;
  transform: translate3d(50vw, 9vh, 0);
  z-index: 11;
}

.orange::before {
  animation: orange-pseudo linear 15s alternate infinite;
  background: #d5764c;
  border: 2px solid #d5764c;
  width: 32px;
  height: 15px;
  transform: translate3d(36vw, 15vh, 0) rotate(289deg);
}

.orange::after {
  animation: orange-pseudo linear 20s alternate infinite;
  border: 2px solid #d5764c;
  width: 32px;
  height: 40px;
  transform: translate3d(38vw, 10vh, 0) rotate(234deg);
}

@keyframes orange {
  50% {
    transform: translate3d(62vw, 73vh, 0);
  }
  100% {
    transform: translate3d(92vw, 68vh, 0);
  }
}

@keyframes orange-pseudo {
  33% {
    transform: translate3d(50vw, 114vh, 0) rotate(238deg);
  }
  100% {
    transform: translate3d(76vw, 60vh, 0) rotate(315deg);
  }
}
.yellow {
  animation: yellow linear 30s alternate infinite;
  border: 2px solid #ffd53e;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  transform: translate3d(23vw, 43vh, 0);
  z-index: 3;
}

.yellow::before {
  animation: yellow-pseudo linear 15s alternate infinite;
  background: #ffd53e;
  border: 2px solid #ffd53e;
  width: 10px;
  height: 31px;
  transform: translate3d(64vw, 13vh, 0) rotate(264deg);
}

.yellow::after {
  animation: yellow-pseudo linear 20s alternate infinite;
  border: 2px solid #ffd53e;
  width: 11px;
  height: 27px;
  transform: translate3d(2vw, -2vh, 0) rotate(47deg);
}

@keyframes yellow {
  50% {
    transform: translate3d(2vw, 25vh, 0);
  }
  100% {
    transform: translate3d(58vw, 35vh, 0);
  }
}

@keyframes yellow-pseudo {
  33% {
    transform: translate3d(-30vw, 70vh, 0) rotate(40deg);
  }
  100% {
    transform: translate3d(16vw, 13vh, 0) rotate(80deg);
  }
}
.cyan {
  animation: cyan linear 30s alternate infinite;
  border: 2px solid #78ffba;
  border-radius: 100%;
  width: 27px;
  height: 27px;
  transform: translate3d(53vw, 54vh, 0);
  z-index: 1;
}

.cyan::before {
  animation: cyan-pseudo linear 15s alternate infinite;
  background: #78ffba;
  border: 2px solid #78ffba;
  width: 6px;
  height: 15px;
  transform: translate3d(36vw, 102vh, 0) rotate(221deg);
}

.cyan::after {
  animation: cyan-pseudo linear 20s alternate infinite;
  border: 2px solid #78ffba;
  width: 50px;
  height: 35px;
  transform: translate3d(72vw, 87vh, 0) rotate(249deg);
}

@keyframes cyan {
  50% {
    transform: translate3d(7vw, 6vh, 0);
  }
  100% {
    transform: translate3d(86vw, 57vh, 0);
  }
}

@keyframes cyan-pseudo {
  33% {
    transform: translate3d(0vw, 6vh, 0) rotate(238deg);
  }
  100% {
    transform: translate3d(78vw, 21vh, 0) rotate(346deg);
  }
}
.light-green {
  animation: light-green linear 30s alternate infinite;
  border: 2px solid #98fd85;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  transform: translate3d(52vw, 49vh, 0);
  z-index: 11;
}

.light-green::before {
  animation: light-green-pseudo linear 15s alternate infinite;
  background: #98fd85;
  border: 2px solid #98fd85;
  width: 15px;
  height: 35px;
  transform: translate3d(83vw, 62vh, 0) rotate(9deg);
}

.light-green::after {
  animation: light-green-pseudo linear 20s alternate infinite;
  border: 2px solid #98fd85;
  width: 24px;
  height: 39px;
  transform: translate3d(25vw, 46vh, 0) rotate(312deg);
}

@keyframes light-green {
  50% {
    transform: translate3d(84vw, 38vh, 0);
  }
  100% {
    transform: translate3d(65vw, 13vh, 0);
  }
}

@keyframes light-green-pseudo {
  33% {
    transform: translate3d(47vw, 33vh, 0) rotate(197deg);
  }
  100% {
    transform: translate3d(97vw, 56vh, 0) rotate(57deg);
  }
}
.lime {
  animation: lime linear 30s alternate infinite;
  border: 2px solid #befb46;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  transform: translate3d(42vw, 32vh, 0);
  z-index: 7;
}

.lime::before {
  animation: lime-pseudo linear 15s alternate infinite;
  background: #befb46;
  border: 2px solid #befb46;
  width: 15px;
  height: 45px;
  transform: translate3d(26vw, 69vh, 0) rotate(340deg);
}

.lime::after {
  animation: lime-pseudo linear 20s alternate infinite;
  border: 2px solid #befb46;
  width: 19px;
  height: 24px;
  transform: translate3d(33vw, 39vh, 0) rotate(317deg);
}

@keyframes lime {
  50% {
    transform: translate3d(56vw, 48vh, 0);
  }
  100% {
    transform: translate3d(28vw, 6vh, 0);
  }
}

@keyframes lime-pseudo {
  33% {
    transform: translate3d(103vw, 84vh, 0) rotate(286deg);
  }
  100% {
    transform: translate3d(-19vw, -22vh, 0) rotate(232deg);
  }
}
.magenta {
  animation: magenta linear 30s alternate infinite;
  border: 2px solid #6c046c;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transform: translate3d(44vw, 57vh, 0);
  z-index: 6;
}

.magenta::before {
  animation: magenta-pseudo linear 15s alternate infinite;
  background: #6c046c;
  border: 2px solid #6c046c;
  width: 34px;
  height: 48px;
  transform: translate3d(91vw, 99vh, 0) rotate(205deg);
}

.magenta::after {
  animation: magenta-pseudo linear 20s alternate infinite;
  border: 2px solid #6c046c;
  width: 28px;
  height: 28px;
  transform: translate3d(53vw, 50vh, 0) rotate(274deg);
}

@keyframes magenta {
  50% {
    transform: translate3d(55vw, 22vh, 0);
  }
  100% {
    transform: translate3d(62vw, 94vh, 0);
  }
}

@keyframes magenta-pseudo {
  33% {
    transform: translate3d(81vw, 43vh, 0) rotate(315deg);
  }
  100% {
    transform: translate3d(70vw, 69vh, 0) rotate(194deg);
  }
}
.lightish-red {
  animation: lightish-red linear 30s alternate infinite;
  border: 2px solid #f04c81;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  transform: translate3d(72vw, 19vh, 0);
  z-index: 2;
}

.lightish-red::before {
  animation: lightish-red-pseudo linear 15s alternate infinite;
  background: #f04c81;
  border: 2px solid #f04c81;
  width: 14px;
  height: 45px;
  transform: translate3d(35vw, 67vh, 0) rotate(193deg);
}

.lightish-red::after {
  animation: lightish-red-pseudo linear 20s alternate infinite;
  border: 2px solid #f04c81;
  width: 37px;
  height: 22px;
  transform: translate3d(51vw, 21vh, 0) rotate(171deg);
}

@keyframes lightish-red {
  50% {
    transform: translate3d(6vw, 35vh, 0);
  }
  100% {
    transform: translate3d(85vw, 53vh, 0);
  }
}

@keyframes lightish-red-pseudo {
  33% {
    transform: translate3d(-12vw, 31vh, 0) rotate(9deg);
  }
  100% {
    transform: translate3d(112vw, 18vh, 0) rotate(196deg);
  }
}
.pink {
  animation: pink linear 30s alternate infinite;
  border: 2px solid #ff4293;
  border-radius: 100%;
  width: 21px;
  height: 21px;
  transform: translate3d(19vw, 49vh, 0);
  z-index: 2;
}

.pink::before {
  animation: pink-pseudo linear 15s alternate infinite;
  background: #ff4293;
  border: 2px solid #ff4293;
  width: 28px;
  height: 29px;
  transform: translate3d(8vw, 88vh, 0) rotate(321deg);
}

.pink::after {
  animation: pink-pseudo linear 20s alternate infinite;
  border: 2px solid #ff4293;
  width: 28px;
  height: 31px;
  transform: translate3d(11vw, 94vh, 0) rotate(38deg);
}

@keyframes pink {
  50% {
    transform: translate3d(47vw, 80vh, 0);
  }
  100% {
    transform: translate3d(72vw, 55vh, 0);
  }
}

@keyframes pink-pseudo {
  33% {
    transform: translate3d(48vw, 102vh, 0) rotate(347deg);
  }
  100% {
    transform: translate3d(94vw, 68vh, 0) rotate(139deg);
  }
}

/* tuan add */
#particles-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#content-layer {
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 10vh;
  color: white;
  font-family: sans-serif;
}

#content-layer h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

/* #content-layer > img {
  width: 150px;
  margin-top: 20px;
} */

.marquee-wrapper {
  position: fixed;
  bottom: 100px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;           /* hoặc width: 600px */
  max-width: 800px;
  background: rgba(0, 0, 0, 0.4); /* nền mờ nhẹ */
  padding: 10px 20px;
  border-radius: 12px;
  color: white;
  font-size: 1.4rem;
  z-index: 10;
}

/* slide */
/* 
.slideshow-container {
  position: relative;
  margin: 60px auto;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  z-index: 10;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  border-radius: 10px;
} */

.slideshow-container {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: 30px auto 0 auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  z-index: 10;
}

.mySlides {
  display: none;
  margin-top: 20px;
}

.mySlides img {
    margin-top: 30px;
    margin-left: 40px;
    width: 100%;
    height: 490px;
    display: block;
    border-radius: 10px;
}

.myGame {
  margin-top: 40px;
}

.myGame img {
    margin-top: 40px;
    margin-left: 50px;
    width: 100%;
    height: 470px;
    display: block;
    border-radius: 10px;
}


.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}

.d-none {
    display: none;
}

#game {
    width: 100%;
}


.btn-question {
    background-color: #2185bf; /* Green */
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#question-buttons {

    margin: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}